@CHARSET "UTF-8";

/* @font-face {font-family:MalgunGothic; src:url(../fonts/malgun.ttf);}
*/

@font-face
{
	font-family: NotoSansCJKkrDemiLight; 
	src : url(../fonts/NotoSansCJKkr-DemiLight.otf);
}

@font-face
{
	font-family: NotoSansCJKkrBold; 
	src : url(../fonts/NotoSansCJKkr-Bold.otf);
}

@font-face
{
	font-family: NotoSansCJKkrLight; 
	src : url(../fonts/NotoSansCJKkr-Light.otf);
}


/* body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color : rgb(16, 18, 20);
	font-family: 'NotoSansCJKkr'; 
} */

.cat{
	/* font-family: NotoSansCJKkrDemiLight; */
}

.normal_font_weight{
	font-weight : normal;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid slategrey;
}

